<!-- service begin -->
<div class="service service-3" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="heading heading-3">
                    <p>{{ config.extra.service.title }}</p>
                    <h2>{{ config.extra.service.desc }}</h2>
                </div>
            </div>
        </div>

        <div class="mobile_view">
            <div class="part-txt">
                <div class="accordion" id="accordionExample">
                    {% for item in config.extra.service.services %}
                    <div class="card">
                        <div class="card-header collapsed" id="heading{{ loop.index }}" data-toggle="collapse"
                            data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                            <h3>{{ item.title }}</h3>
                            <button class="btn btn-link" type="button">
                               <img src="{{ config.extra.service.rectangle_icon }}" calt="">
                            </button>
                        </div>
                        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{ item.desc }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="card">
                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h3>Data Science</h3>
                            <button class="btn btn-link " type="button">
                               <img src="./assets/images/board/Rectangle_icon.svg" calt="">
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Exploratory analysis, hypothesis testing, classical and modern statistical
                                    modeling, interpreted in the light of clinical practice.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingThree" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h3>Data Engineering</h3>
                            <button class="btn btn-link" type="button">
                               <img src="./assets/images/board/Rectangle_icon.svg" calt="">
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Development of data transformation pipelines of any complexity that capture the
                                    intricacies of healthcare data of any nature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingfour" data-toggle="collapse"
                            data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                            <h3>Study Implementation</h3>
                            <button class="btn btn-link" type="button">
                               <img src="./assets/images/board/Rectangle_icon.svg" calt="">
                            </button>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Study deployment into venue. Validation and impact assessment of implementation
                                    science studies in the real world setting.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingfive" data-toggle="collapse"
                            data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                            <h3>Software Development</h3>
                            <button class="btn btn-link" type="button">
                               <img src="./assets/images/board/Rectangle_icon.svg" calt="">
                            </button>
                        </div>
                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>High performance software for mobile, web and desktop, meticulously tailored to
                                    meet demanding medical and scientific requirements.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingsix" data-toggle="collapse"
                            data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                            <h3>Expert Consulting</h3>
                            <button class="btn btn-link" type="button">
                               <img src="./assets/images/board/Rectangle_icon.svg" calt="">
                            </button>
                        </div>
                        <div id="collapsesix" class="collapse" aria-labelledby="headingsix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Expert medical assessment and consulting on cardiovascular, mental health,
                                    preventive medicine, trauma, regulatory, insurance, and legal medicine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingseven" data-toggle="collapse"
                            data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                            <h3>Medical Writing</h3>
                            <button class="btn btn-link" type="button">
                               <img src="./assets/images/board/Rectangle_icon.svg" calt="">
                            </button>
                        </div>
                        <div id="collapseseven" class="collapse" aria-labelledby="headingseven"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Rigorous scientific writing of medical content for communication in conferences,
                                    scientific manuscript publication, and high-level reporting.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="form-row dashtopview">
            <img class="star_image" src="{{ config.extra.service.bg_image}}" class="img-fluid" alt="">
            {% for item in config.extra.service.services %}
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>{{ item.title }}</h3>  
                        <p>{{ item.desc }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>Data <br> Science</h3>
                        <p>Exploratory analysis, hypothesis testing, classical and modern
                            statistical modeling,
                            interpreted in the light of clinical practice.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>Data <br> Engineering</h3>
                        <p>Development of data transformation pipelines of any complexity that
                            capture the
                            intricacies of healthcare data of any nature.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>Study<br> Implementation</h3>
                        <p>Study deployment into venue. Validation and impact assessment of
                            implementation science
                            studies in the real world setting.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>Study<br> Management</h3>
                        <p>Lean and agile study management supporting fully remote workflows,
                            using single source of
                            truth practices for effective communication.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>Software<br> Development </h3>
                        <p>High performance software for mobile, web and desktop, meticulously
                            tailored to meet
                            demanding medical and scientific requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>Expert<br> Consulting</h3>
                        <p>Expert medical assessment and consulting on cardiovascular, mental
                            health, preventive
                            medicine, trauma, regulatory, insurance, and legal medicine.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-box">
                    <div class="part-txt">
                        <h3>Medical <br> Writing</h3>
                        <p>Rigorous scientific writing of medical content for communication in
                            conferences,
                            scientific manuscript publication, and high-level reporting.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- service end -->